extends layout

block content
		div#indexPage
			h1 Welcome to #{title}!

			div#randomDisplay
				a.randomLinks(href=plant.url) Go to Random Plant Page
				a.randomLinks(href=family.url) Go to Random Family Page